*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-image: url("./flappybirdbg.png") ;
}

h1{
    margin:10px 0;
    color:seagreen;
}

button{
    padding:10px 20px;
    font-size: 1.2rem;
    margin: 0 10px;
    background-color: rgb(244, 207, 115);
    border : none;
    border-radius: 5px;
    color:darkslategrey;
    margin:5px;
    margin-bottom:15px;
}